:root {
  --red: rgb(175, 0, 0);
  --green: rgb(0, 153, 0);
  --blue: rgb(0, 0, 190);
  --yellow: rgb(207, 207, 1);
  --bg-color: rgb(20, 20, 20);
  --text: rgb(243, 233, 220);
}

* {
  margin: 0;
  background: rgb(20, 20, 20);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: var(--text);
  margin-bottom: 50px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.buttons {
  display: grid;
  grid-template-areas: '1 2'
  '3 4';
  grid-gap: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
}

.red {
  grid-area: '1';
  background-color: var(--red);
  border-top-left-radius: 100%;
  cursor: pointer;
}

.green {
  grid-area: '2';
  background-color: var(--green);
  border-top-right-radius: 100%;
  cursor: pointer;
}

.blue {
  grid-area: '3';
  background-color: var(--blue);
  border-bottom-left-radius: 100%;
  cursor: pointer;
}

.yellow {
  grid-area: '4';
  background-color: var(--yellow);
  border-bottom-right-radius: 100%;
  cursor: pointer;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  align-self: center;
  justify-self: center;
  background-color: var(--bg-color);
  color: var(--text);
}

.alert {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--green);
  color: var(--text);
  border-radius: 10px;
  margin-bottom: 20px;
  height: 23px;
  width: 90%;
  visibility: hidden;
}

.correct {
  background-color: var(--green);
}

.wrong {
  background-color: var(--red);
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 10px;
}

.selected {
  opacity: 0.4;
}

.blocked {
  pointer-events: none;
}

.start-btn {
  cursor: pointer;
  text-align: center;
  height: 35px;
  width: 200px;
  font-size: 30px;
  background-color: var(--green); 
  color: var(--text);
  border-radius: 10px;
  font-weight: bold;
}